*{
    text-decoration: none;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

header h2 {
  font-size: 2rem;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #292929;
  transition: 0.3s ease;
}

header h2:hover {
  color: #5a0f97;
  scale: 1.02;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0 20px;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li a {
  color: #292929;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #5a0f97;
  scale: 1.002;
}

.Datos{
  max-width: 600px;
  width: 25rem;
  margin: 40px auto; 
  padding: 30px;
  background-color: #ebebeb;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

.Investigaciones {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem; 
  padding: 3rem 2rem; 
  margin: 0 auto 2rem auto;
  max-width: 1200px;
  justify-items: center;
  margin-right: auto;
}

.Investigaciones a {
  text-decoration: none;
  color: #264653;
  width: 100%;
}

.Investigaciones .Investigacion {
  background-color: #ebebeb;
  padding: 16px 12px;
  border-radius: 8px;
  height: 1re;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.Investigaciones .Investigacion:hover {
  background-color: #d19cfc;
  scale: 1.03;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
}

footer{
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #292929;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}